* {
    box-sizing: border-box;
}
body {
    background-image: url ("/images/Motion 06.jpg");
    background-color: blueviolet;
}



button,
div,
form,
input{
    margin: 10px;
}
#buttons-view{
    height: 75px;
}
img{
    position: relative;
    float: left;
    width: 350px;
    height: 250px;
    padding: 10px;
}


    